<body>
		<div class="container">
<div class="timer">
  <div class="timer__label">{{labelInput.value}}</div>
  <div class="timer__clocks" *ngFor="let clock of clocks; let i = index">
    <div class="svg-circle-container">
          <svg class="svg-circle" appTickDirective [clockCount]="clock" [clockType]="i"  xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 500 500">
              <style type="text/css">
                .st1{fill: #000000; font-family: "Arial"; font-size: 250px;}
                
              </style>
            <circle  class="circle" id="circle" cx="250" cy="250" [(attr.r)]="circleRadius"
                    fill="none" [(attr.stroke)]="circleColor" [(attr.stroke-width)]="circleStrokeWidth"/>
                    <text class="counter" [attr.transform]="textMatr[i]" class="st1">{{clock}}</text>
          </svg>
    </div>

  </div>

</div>
<div class="control-panel">
  <ul class="control-list">
    <li class="control">
        <div class="control-label"><label for="width">Color</label></div>
        <app-pallet (onPickColor) = "changeColor($event)" ></app-pallet>
    </li>
    <!-- <li class="control">
        <div class="control-label"><label for="color">Color (#RGB)</label></div> 
        <mat-slider class="picker" min="1" max="1665" step="1" [(value)]="circleColor"></mat-slider>
        <div class="current-value">#{{circleColor}}</div> 
    </li> -->
    <li class="control">
      <div class="control-label"><label for="width">Stroke width</label></div>
      <mat-slider  class="picker" min="0" max="50" step="1" [(value)]="circleStrokeWidth" (onTouched)="touchSlider($event)"></mat-slider>
      <div class="current-value">{{circleStrokeWidth}}</div> 
    </li>
    <li class="control">
      <div class="control-label"><label for="width">Circle radius</label></div>
      <mat-slider  class="picker" min="180" max="240" step="1" [(value)]="circleRadius"></mat-slider>
      <div class="current-value">{{circleRadius}}</div> 
    </li>
    <li class="control">
      <div class="control-label"><label  for="date">Goal date</label></div> 
      <mat-form-field class="picker matform" color="accent">
        <input matInput [min]="newDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Choose a date" (dateChange)="dateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div class="current-value">{{customDate | date}}</div> 
    </li>
    <li class="control">
      <div class="control-label"><label for="timerLabel">Timer Label</label></div> 
      <input class="picker timer-label" #labelInput type="text" value="Label" (keyup)='setLabel($event.value)'>
      <div class="current-value">#{{circleColor}}</div> 
    </li>
  </ul>
    <div class="launch">
      <button class="launch__button" (click)="start(newDate)">Start</button>
      <button class="launch__button" (click)="stop()">Stop</button>
      <button class="launch__button" (click)="buildCode()">Get Code</button>


    </div>
    <div class="output-code" *ngIf="getCode == true">
      <input type="text" class="width-change__input" [(value)]="customCode">
    </div>
</div>
    </div>

</body>
