<body>
		<div class="container">
<div class="timer">
  <div class="timer__label"></div>
  <div class="timer__clocks" *ngFor="let clock of clocks; let i = index">
    <div class="svg-circle">
          <svg xmlns="http://www.w3.org/2000/svg" 
              viewBox="0 0 500 500">
              <style type="text/css">
                .st1{fill: #000000; font-family: "Arial"; font-size: 250px;}
              </style>
            <circle id="circle" cx="250" cy="250" r="240" 
                    fill="none" [(attr.stroke)]="circleColor" [(attr.stroke-width)]="circleStrokeWidth"/>
                    <text [attr.transform]="textMatr[i]" class="st1">{{clock}}</text>
          </svg>
    </div>

  </div>

</div>
<div class="contol-panel">
  <div class="color-change">
    <label for="color">Color (NNN, NNNNNN)</label>
    <input class="color-change__input" name="color" type="text" (keyup)="changeColor($event.target.value)">
  </div>
  <div class="width-change">
      <label for="width">Stroke width</label>
      <input class="width-change__input" name="width" type="text" (keyup)="changeSW($event.target.value)">
    </div>
</div>
		</div>
</body>
